@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

// General
$primary-color: #6356fe;
$secondary-color: #e7e7e7;
$text-color: #161616;
$hover-color: #8f85ff;
$border-radius: 15px;
$card-width-small: 12rem;
$card-width-medium: 14rem;
$card-width-large: 16rem;
$img-width-large: 450px;
$img-height-large: 355px;
$img-width-small: 330px;
$img-height-small: 270px;
$font-family-outfit: "Outfit", sans-serif;

// Mixins
@mixin flex-center($direction: row, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin img-dimensions($width, $height) {
    width: $width;
    height: $height;
}


// Extend
%botones {
    width: 30%;
    color: $secondary-color;
    display: inline-block;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: $primary-color;
    border-radius: $border-radius;
    padding: 10px 50px;
    text-align: center;
    transition: 0.3s;
}
